sounddevice==0.3.15
pydub==0.24.1
numpy==1.19.0
scipy==1.5.1
Flask==1.1.2
waitress==2.1.1
noisereduce==1.1.0
-e git+https://github.com/librosa/librosa.git@5d7314fa226355f96bdfb50a8a60282570cf5917#egg=librosa
wheel
